.container{
    margin-top: 20px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.description{
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bdd9ed;
    border-radius: 10px;
    padding: 20px;
}

.container h3{
    color: #8fc1e5;
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 1px;
    text-align: left;
}

.description p {
    text-align:center;
}

.description a, a:hover {
    text-decoration: none;
}

.container form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container button, .input-group-text, .form-control{
    border: 1px solid #bdd9ed;
    border-radius: 4px;
    font-family: sans-serif;
    background-color: white;
    color:#52a1da;
    font-family: sans-serif;
}

.container button{
    width: 20%;
    margin-bottom: 16px;
}

.container .input-group{
    width: 70%;
}

.container .migration{
    margin: 30px;
    width: 100%;
    display: flex;
}

.migration form{
    display: flex;
    justify-content: center;
}

.migration button{
    width: 60%;
}